body{
    background-color: gray;
    line-height: 90%;
}
img{
    border-radius: 50%;
}
.review{
    flex: auto;
    background-color: white;
   padding:  10px; 
    align-items: center;
    margin: auto;
    width: 40%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra con desplazamiento X, desplazamiento Y, desenfoque y color */

  
}
.review-imagen{
    float: left;
    margin: 0;
   padding-right: 15px;
}
.review-info{
    padding: 0px 0px 20px 80px ;
}
.review-name{
    font-weight: bold;
    margin-bottom: 3px;
   
}
.review-verify{
    font-size: small;
    font-weight: bolder;
    margin-top: 2px;
}
.review-puntaje{
    width: 100px;
    margin: 0px;
    float: left;
    padding-right: 10px;
}
.review-date{
    color: grey;
    width: 100px;
    margin: 0px;
    float: left;
   
}
.review-vistas{
    color: grey;
    margin-top: 0px;
   
}
.review-text{
    color:#768DA3;
     
    

}