
:root {
    /*Primary*/

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*Neutral*/

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    font-size: 15px;
  }

  .noticias {
    background: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
  }

  .noticias h2 {
    color: var(--Soft-orange);
    font-size: 2rem;
  }

  .noticias section a {
    color: var(--Off-white);
    text-decoration: none;
  }

  .noticias section a:hover {
    color: var(--Soft-orange);

  }

  body {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    height: 1440px;
  }

  p,
  hr {
    color: var(--Dark-grayish-blue);
    border-color: var(--Dark-grayish-blue);
  }

  .piso {
    display: flex;
    grid-area: 3/1/4/4;
    padding: 0 1rem;
    margin: 0 auto;

  }

  .piso article {
    display: flex;
    flex: 1;
  }

  .piso section {
    padding: 1rem;

  }

  .piso h2 {
    color: var(--Grayish-blue);

  }

  .piso a {
    color: black;
    text-decoration: none;
  }

  .piso a:hover {
    color: var(--Soft-red);
  }

  .piso article section {
    flex: 2;
  }

  .piso article header {
    flex: 1;
  }

  .piso article header img {
    width: 100%;
  }

  .piso article {
    align-items: center;
  }

  .piso article header img {
    width: 120px;
  }


  main {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 8rem;

  }

  .head {
    grid-area: span 1/ span 2;

    padding: 0 1rem;

  }

  .pic img {
    max-width: 100%;

    max-height: auto;
    overflow: hidden;
  }

  .centro {
    order: 1;
    grid-area: span 1/ span 2;
    display: flex;
    flex: 1;
    padding: 0 1rem;
    margin: 0 auto;



  }

  .centro h2 {
    font-size: 3rem;
  }

  .centro a {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: auto;
    font-weight: 700;
    text-decoration: none;

  }

  .centro a:hover {
    background-color: var(--Very-dark-blue);
  }

  .centro section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1rem;
    flex: 1;
  }

  .centro header {
    flex: 1;
  }

  aside {
    grid-area: span 2/ span 1;
    padding: 1rem;
    margin: 1rem;
  }

  .principal {
    display: flex;
    background: black;
    font-size: 'Roboto', sans-serif;

  }

  .principal a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .principal a:hover {
    background-color: #111111;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem 2rem 1rem;
    margin: auto 8rem;
  }


  .actual {
    display: flex;
    align-items: center;


  }

  .actual a {
    display: block;
    padding: 1rem 0 1rem 3rem;
    text-decoration: none;
    color: var(--Grayish-blue);
    text-align: end;

  }

  .actual a:hover {
    color: var(--Soft-red);
  }

  #logo {
    align-self: center;
    justify-self: center;
  }

  @media(min-width:1000px) {
    #mobile ,  #cruz, #menu {
      display: none;
    }
  }

  @media(max-width:1000px) {
    body {
      height: 375px;
    }

    .header {
      margin: 1rem;
      padding: 2rem 0px;
    }

    .container {

      display: none;
      justify-content: end;
      background-color: rgba(99, 99, 99, 0.5);

      width: 100%;
      position: absolute;
      right: 0%;
      top: 0%;
      height: 100%;
    }

    .actual {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      background-color: var(--Off-white);
      justify-content: center;
      font-weight: 400;
      width: 70%;
      font-size: 1.2rem;
    }

    .actual a {

      display: flex;
      padding: 1rem;
      text-decoration: none;
      text-align: left;
      color: #111111;
    }

    .cerrar {
      margin: 0;
      padding: 0%;
      position: relative;
      bottom: 20%;
      left: 80%;
    }

    .centro section {
      padding: 0;


    }

    .noticias {
      display: flex;
      margin: 1rem;
    }

    main {
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    #desktop {
      display: none;
    }


    .centro {
      order: 0;
      display: flex;
      flex-direction: column;
    }

    .piso {
      display: flex;
      flex-direction: column;
    }
  }