.tachado {
  text-decoration: line-through;
}
.tareas{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  text-shadow: red 2px 1px 1px;
}
#listaTareas{
background-color: rgba(177, 155, 155, 0.5);
list-style-type: none;
padding-left: 0;

}